@import "tailwindcss";
/* activating hover on touch devices */
@custom-variant hover (&:hover);

/* dark mode activation */
@custom-variant dark (&:where(.dark, .dark *));

*{
	scroll-behavior:smooth;
}
/* Customs */
:root {
	--dark: #0e1012;
	--sec-dark: #343434;
	--text-dark: #f3f6fa;
	--light: #e8e5f0;
	--text-light: #1a4572;
}
@theme {
	--color-dark: var(--dark);
	--color-textDark: var(--text-dark);
	--color-light: var(--light);
	--color-textLight: var(--text-light);
}

@font-face {
	font-family: "Roboto";
	src: url("./assets/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}
input:focus {
	outline: none;
}
iframe {
	border: none;
}
body {
	font-family: "Roboto", serif;
	@apply dark:bg-dark dark:text-textDark bg-light text-textLight overflow-hidden;
}
body.modal-on{
	@apply !overflow-hidden 	
}
body:has(.no-mode){
	@apply bg-dark text-textDark overflow-visible;
}
body:has(.no-mode) .box{
	@apply bg-light text-textLight;
}
body:has(.no-mode) .button{
	@apply text-textDark bg-dark duration-300;
}
body:has(.no-mode) .button.active,body:has(.no-mode) .button:hover,body:has(.no-mode) .logo{
	@apply text-textDark border-textDark;  
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(8.5px);
	-webkit-backdrop-filter: blur(8.5px);
}
.box {
	@apply dark:bg-light dark:text-textLight text-textDark bg-dark duration-300;
}
.flex-center {
	@apply flex justify-center items-center;
}
.noise::before{
	content: "";
	background-image: url("/src/assets/noise.png");
	animation: 2s steps(1) infinite noise;
	background-position: 50%;
	background-size: 256px;
	flex: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.nav-el svg{
	opacity: .7;
	transition:  .3s;
}
.active-nav-el svg,
.nav-el:hover svg {
	opacity: 1;
}
.active-nav-el::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-color: inherit;
	border: .15rem solid;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 2.5rem;
	transition: .3s;
}
.button{
	@apply border-1 dark:bg-light dark:text-textLight text-textDark bg-dark duration-300;
}
.button.active,.button:hover{
	@apply dark:text-textDark dark:border-light text-textLight border-dark;  
}
.genre.active,.genre:hover{
	backdrop-filter: unset !important;
	-webkit-backdrop-filter: unset !important;
}
.slider{
	mask-image: linear-gradient(90deg,transparent 0,#000 10%,#000 90%,transparent 100%) !important;
}
.slider-button:hover > span{
	@apply scale-105
}
.slider-parent:hover .slider-button-icon{
	@apply opacity-100 scale-100;
}
.section-title{
	@apply text-2xl px-14 font-medium;
}
.tooltip::before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translateX(-50%);
	border: .6rem solid transparent;
	border-bottom-color: rgba(255, 255, 255, 0.05);

}
div:has(.tooltip):hover > .tooltip{
	opacity: 1;
	scale: 1;
	transform-origin: top;
}
.scrollx {
	-ms-overflow-style: none;
	scrollbar-width: none; 
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}
.scrolly {
	-ms-overflow-style: none;
	scrollbar-width: none; 
	overflow-x: scroll;
	scroll-snap-type: y mandatory;
}

.lazy-img-loaded {
	opacity: 1;
	transform: scale(1);
}
.link .line{
	width: 0;
	height: .5px;
	background-color: #e8e5f0;
	transition: .3s ease;
}
.expandable-text p:not(:first-of-type){
	margin-top: 1rem;
}
.episode-image{
	mask-image: linear-gradient(to bottom, black 20%, transparent 70%);
}
/* animations */
@keyframes noise {
	0%,
	100% {
		background-position: 0 0;
	}
	10% {
		background-position: -5% -10%;
	}
	20% {
		background-position: -15% 5%;
	}
	30% {
		background-position: 7% -25%;
	}
	40% {
		background-position: 20% 25%;
	}
	50% {
		background-position: -25% 10%;
	}
	60% {
		background-position: 15% 5%;
	}
	70% {
		background-position: 0% 15%;
	}
	80% {
		background-position: 25% 35%;
	}
	90% {
		background-position: -10% 10%;
	}
}
.frost,
.button.active,.button:hover{
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(8.5px);
	-webkit-backdrop-filter: blur(8.5px);
}
.frost2,
.mute-button::before,
.suggestion.active,
.header-el:hover{
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(8.5px);
	-webkit-backdrop-filter: blur(8.5px);
}
.collection .name{
	transition: opacity .2s,max-width .15s,margin-right .3s;
}
.collection:hover .name{
	transition: opacity .4s,max-width .3s,margin-right .6s;
	max-width: 25vw;
	opacity: 1;
	margin-right: 1rem;
}
.collection-content{
	transform-origin: calc(100% - 1rem) 0%;
}
